body
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.topnav
{
    background-color: #2f323a;
    height: 50px;
    font-size: larger;
    display: flex;
    padding-left: 20px;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}
.left
{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    text-align: center;
}
.pgs
{
    display: flex;
    padding-left: 40%;
    padding-right: 40px;
    flex: 1;
    justify-content: space-between;
    text-align: right;
}
label #menu
{
    z-index: 1;
    color: white;
    padding-left: 3px;
    /* position: fixed; */
    cursor: pointer;
    font-size: 25px;
    align-items: center;
}
label #menu:hover
{
    color: #19b3d3;
}
.sidebar
{
    background-color: #2f323a;
    left: 0;
    position: absolute;
    width: 13%;
    height: 94.3vh;
    transition: 0.5s;
}
.sidebar i
{
    padding-top: 10%;
}
.sidebar a
{
    color: white;
    display: flex;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 10%;
    box-sizing: border-box;
    transition: 1s;
    transition-property: background;
}
.sidebar a:hover
{
    background: #19b3d3;
}
#check:checked ~ .sidebar
{
    left: -130px;
    transition: 0.5s;
}
#check:checked ~ .sidebar a span
{
    display: none;
}
#check:checked ~ .sidebar a
{
    font-size: 20px;
    margin-left: 135px;
    width: 70px;
}
.Home
{
    margin-left: 10%;
    background-image: url(bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 94.3vh;
    transition: 0.5s;
}
.box
{
    border: 4px solid black;
    border-radius: 50px;
    width: 300px;
    margin-top: 15%;
    margin-left: 35%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    position: absolute;
}
.element
{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search
{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    color: black;
    font-size: large;
    height: 100%;
    width: 95%;
    border-radius: 50px;
}
.search:focus
{
    outline: none;
}
button
{
    outline: none;
}
.fa.fa-search
{
    color: black;
    font-size: larger;
}
#check:checked ~ .Home
{
    margin-left: 40px;
    transition: 0.5s;
}
#check
{
    display: none;
}